<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT sitemap ANY>
<!ATTLIST sitemap id ID #REQUIRED>
<!ELEMENT aboutUs ANY>
<!ATTLIST aboutUs id ID #REQUIRED>
<!ELEMENT members ANY>
<!ATTLIST members id ID #REQUIRED>
<!ELEMENT login ANY>
<!ATTLIST login id ID #REQUIRED>
<!ELEMENT contactPage ANY>
<!ATTLIST contactPage id ID #REQUIRED>
<!ELEMENT master ANY>
<!ATTLIST master id ID #REQUIRED>
<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
<!ELEMENT textPage ANY>
<!ATTLIST textPage id ID #REQUIRED>
<!ELEMENT articlesOverview ANY>
<!ATTLIST articlesOverview id ID #REQUIRED>
<!ELEMENT articleItem ANY>
<!ATTLIST articleItem id ID #REQUIRED>
<!ELEMENT projectsOverview ANY>
<!ATTLIST projectsOverview id ID #REQUIRED>
<!ELEMENT projectItem ANY>
<!ATTLIST projectItem id ID #REQUIRED>
]>
<root id="-1">
  <homePage id="1089" key="cc348785-cffc-4212-9631-1d2fe332a1dd" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-02-16T20:18:11" updateDate="2017-03-27T10:53:21" nodeName="HOME" urlName="home" path="-1,1089" isDoc="" nodeType="1054" creatorName="Jelnalou Niones" writerName="Jelnalou Niones" writerID="0" template="1100" nodeTypeAlias="homePage">
    <umbracoNaviHide>0</umbracoNaviHide>
    <siteTitle><![CDATA[Welcome]]></siteTitle>
    <mainContent><![CDATA[<p> </p>
<p> </p>
<p> </p>
<p> </p>
<p> <img style="float: right;" src="/media/1007/web-developers.jpg?width=428&amp;height=294" alt="" width="428" height="294" rel="1150" data-id="1150"></p>
<p style="text-align: left; font-size: 20px;"><strong>Welcome to Århus Networks of Web Developers!     </strong></p>
<p style="font-size: 15px; color: white;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla interdum mauris sed tortor pretium,</p>
<p style="font-size: 15px; color: white;">a dignissim dolor tempus. <span> Nullam ut mi malesuada, facilisis quam finibus, elementum tortor. </span></p>
<p style="font-size: 15px; color: white;"><span>Morbi gravida est tempor elit aliquet aliquam. </span></p>
<p> </p>
<p> </p>
<p style="font-size: 30px;"> </p>
<p style="font-size: 20px;"><strong>Check out our 3 newest completed projects:</strong></p>
<?UMBRACO_MACRO macroAlias="three_newest_project" />
<p> </p>
<p style="font-size: 15px; color: white;"><span>Quisque magna est, lobortis sit amet pulvinar vel, imperdiet non ipsum. Aenean eget mi sem. Praesent sed ante metus. Aliquam volutpat egestas orci, faucibus interdum velit viverra in. Cras cursus diam quis augue hendrerit egestas sed non lorem. Donec non metus luctus, commodo nulla luctus, scelerisque lorem. Aliquam ullamcorper dolor eget ex condimentum, ac fringilla sem viverra. Vestibulum lobortis ligula risus, quis tempus turpis gravida non. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam justo ipsum, auctor ut euismod efficitur, viverra nec sapien. Sed rhoncus pharetra elementum. Mauris ut laoreet nunc. Aenean eget sodales ante. Nunc consectetur arcu ut elementum viverra. Ut sit amet tortor non nunc tempor finibus. Fusce ac urna mauris.</span></p>]]></mainContent>
    <footer><![CDATA[All rights reserved!  Aarhus Web Developer Corporation]]></footer>
    <articlesOverview id="1091" key="1e89bf6d-a10b-4dc2-8ff3-3941278e38b5" parentID="1089" level="2" creatorID="0" sortOrder="0" createDate="2017-02-17T10:21:08" updateDate="2017-03-27T10:16:34" nodeName="NEWS" urlName="news" path="-1,1089,1091" isDoc="" nodeType="1073" creatorName="Jelnalou Niones" writerName="Jelnalou Niones" writerID="0" template="1072" nodeTypeAlias="articlesOverview">
      <umbracoNaviHide>0</umbracoNaviHide>
      <articlesBodyText><![CDATA[<?UMBRACO_MACRO macroAlias="listofNews" />]]></articlesBodyText>
      <articleItem id="1093" key="c06faaf7-c331-445d-a438-dfff0a25f6e1" parentID="1091" level="3" creatorID="0" sortOrder="0" createDate="2017-02-17T11:09:58" updateDate="2017-03-26T22:43:19" nodeName="JOBS IN LEGO" urlName="jobs-in-lego" path="-1,1089,1091,1093" isDoc="" nodeType="1077" creatorName="Jelnalou Niones" writerName="Jelnalou Niones" writerID="0" template="1076" nodeTypeAlias="articleItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <articleTitle><![CDATA[Jobs in Lego]]></articleTitle>
        <articleContent><![CDATA[<p> </p>
<p> </p>
<p> </p>
<p style="font-size: 15px; color: white;"><span>Vestibulum et vehicula est. Pellentesque felis arcu, auctor et venenatis sed, aliquam nec orci. Sed egestas, felis in faucibus ultricies, libero diam euismod massa, sed lobortis lacus metus ut lorem. Morbi quis odio consectetur nunc ultricies eleifend. Nulla dolor quam, eleifend id risus sed, fringilla convallis magna. Donec non elementum quam, ut laoreet mauris. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut eleifend purus at tincidunt varius. Cras tristique non felis sit amet dictum. Duis placerat nisl ut leo efficitur rutrum. Proin ac turpis sit amet mauris ultricies lacinia. Vivamus ullamcorper volutpat cursus. Suspendisse pharetra posuere justo eu ornare. Sed semper volutpat nulla, in fringilla sapien pulvinar ut. Donec non auctor mauris, vitae porttitor eros.</span></p>]]></articleContent>
      </articleItem>
      <articleItem id="1092" key="d5c06c6f-1e87-41b8-8f16-e40ced267ef6" parentID="1091" level="3" creatorID="0" sortOrder="1" createDate="2017-02-17T11:09:14" updateDate="2017-03-27T08:11:59" nodeName="CAREER PATH" urlName="career-path" path="-1,1089,1091,1092" isDoc="" nodeType="1077" creatorName="Jelnalou Niones" writerName="Jelnalou Niones" writerID="0" template="1076" nodeTypeAlias="articleItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <articleTitle><![CDATA[Career  path options in web development]]></articleTitle>
        <articleContent><![CDATA[<p> </p>
<p> </p>
<p> </p>
<p style="font-size: 15px; color: white;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla interdum mauris sed tortor pretium, a dignissim dolor tempus. Nullam ut mi malesuada, facilisis quam finibus, elementum tortor. Morbi gravida est tempor elit aliquet aliquam. Suspendisse efficitur elit nisi. Morbi id nisi ac nibh pretium tempus tincidunt vitae leo. Suspendisse vitae luctus ante. Donec aliquam congue commodo. Aliquam ut felis nulla. Ut suscipit eleifend dignissim. Vestibulum tincidunt vel quam non dignissim.</p>
<p style="font-size: 15px; color: white;">Quisque magna est, lobortis sit amet pulvinar vel, imperdiet non ipsum. Aenean eget mi sem. Praesent sed ante metus. Aliquam volutpat egestas orci, faucibus interdum velit viverra in. Cras cursus diam quis augue hendrerit egestas sed non lorem. Donec non metus luctus, commodo nulla luctus, scelerisque lorem. Aliquam ullamcorper dolor eget ex condimentum, ac fringilla sem viverra. Vestibulum lobortis ligula risus, quis tempus turpis gravida non. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam justo ipsum, auctor ut euismod efficitur, viverra nec sapien. Sed rhoncus pharetra elementum. Mauris ut laoreet nunc. Aenean eget sodales ante. Nunc consectetur arcu ut elementum viverra. Ut sit amet tortor non nunc tempor finibus. Fusce ac urna mauris.</p>]]></articleContent>
      </articleItem>
      <articleItem id="1094" key="91b11556-d659-4d5d-99f0-663a64c84577" parentID="1091" level="3" creatorID="0" sortOrder="2" createDate="2017-02-17T11:16:34" updateDate="2017-03-26T22:44:12" nodeName="LATEST IN WEB?" urlName="latest-in-web" path="-1,1089,1091,1094" isDoc="" nodeType="1077" creatorName="Jelnalou Niones" writerName="Jelnalou Niones" writerID="0" template="1076" nodeTypeAlias="articleItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <articleTitle><![CDATA[What are the latest in web development?]]></articleTitle>
        <articleContent><![CDATA[<p> </p>
<p> </p>
<p> </p>
<p style="font-size: 15px; color: white;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla interdum mauris sed tortor pretium, a dignissim dolor tempus. Nullam ut mi malesuada, facilisis quam finibus, elementum tortor. Morbi gravida est tempor elit aliquet aliquam. Suspendisse efficitur elit nisi. Morbi id nisi ac nibh pretium tempus tincidunt vitae leo. Suspendisse vitae luctus ante. Donec aliquam congue commodo. Aliquam ut felis nulla. Ut suscipit eleifend dignissim. Vestibulum tincidunt vel quam non dignissim.</p>
<p style="font-size: 15px; color: white;">Quisque magna est, lobortis sit amet pulvinar vel, imperdiet non ipsum. Aenean eget mi sem. Praesent sed ante metus. Aliquam volutpat egestas orci, faucibus interdum velit viverra in. Cras cursus diam quis augue hendrerit egestas sed non lorem. Donec non metus luctus, commodo nulla luctus, scelerisque lorem. Aliquam ullamcorper dolor eget ex condimentum, ac fringilla sem viverra. Vestibulum lobortis ligula risus, quis tempus turpis gravida non. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam justo ipsum, auctor ut euismod efficitur, viverra nec sapien. Sed rhoncus pharetra elementum. Mauris ut laoreet nunc. Aenean eget sodales ante. Nunc consectetur arcu ut elementum viverra. Ut sit amet tortor non nunc tempor finibus. Fusce ac urna mauris.</p>]]></articleContent>
      </articleItem>
    </articlesOverview>
    <projectsOverview id="1095" key="e4a34475-2531-45fb-839d-176bac756a0e" parentID="1089" level="2" creatorID="0" sortOrder="1" createDate="2017-02-17T11:17:40" updateDate="2017-03-26T22:14:22" nodeName="OUR PROJECTS" urlName="our-projects" path="-1,1089,1095" isDoc="" nodeType="1081" creatorName="Jelnalou Niones" writerName="Jelnalou Niones" writerID="0" template="1080" nodeTypeAlias="projectsOverview">
      <umbracoNaviHide>0</umbracoNaviHide>
      <projectsBodyText><![CDATA[<?UMBRACO_MACRO macroAlias="listofProjects" />]]></projectsBodyText>
      <projectsTitle><![CDATA[Our Projects]]></projectsTitle>
      <projectItem id="1096" key="5264c2e0-4457-4e69-a434-84edc095f8e3" parentID="1095" level="3" creatorID="0" sortOrder="0" createDate="2017-02-17T11:19:17" updateDate="2017-03-26T22:44:57" nodeName="UMBRACO TEMPLATE" urlName="umbraco-template" path="-1,1089,1095,1096" isDoc="" nodeType="1086" creatorName="Jelnalou Niones" writerName="Jelnalou Niones" writerID="0" template="1085" nodeTypeAlias="projectItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectTitle><![CDATA[Umbraco new template]]></projectTitle>
        <projectDescription><![CDATA[<p> </p>
<p> </p>
<p> </p>
<p style="font-size: 15px; color: white;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla interdum mauris sed tortor pretium, a dignissim dolor tempus. Nullam ut mi malesuada, facilisis quam finibus, elementum tortor. Morbi gravida est tempor elit aliquet aliquam. Suspendisse efficitur elit nisi. Morbi id nisi ac nibh pretium tempus tincidunt vitae leo. Suspendisse vitae luctus ante. Donec aliquam congue commodo. Aliquam ut felis nulla. Ut suscipit eleifend dignissim. Vestibulum tincidunt vel quam non dignissim.</p>
<p style="font-size: 15px; color: white;">Quisque magna est, lobortis sit amet pulvinar vel, imperdiet non ipsum. Aenean eget mi sem. Praesent sed ante metus. Aliquam volutpat egestas orci, faucibus interdum velit viverra in. Cras cursus diam quis augue hendrerit egestas sed non lorem. Donec non metus luctus, commodo nulla luctus, scelerisque lorem. Aliquam ullamcorper dolor eget ex condimentum, ac fringilla sem viverra. Vestibulum lobortis ligula risus, quis tempus turpis gravida non. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam justo ipsum, auctor ut euismod efficitur, viverra nec sapien. Sed rhoncus pharetra elementum. Mauris ut laoreet nunc. Aenean eget sodales ante. Nunc consectetur arcu ut elementum viverra. Ut sit amet tortor non nunc tempor finibus. Fusce ac urna mauris.</p>]]></projectDescription>
        <projectStatus>30</projectStatus>
      </projectItem>
      <projectItem id="1097" key="3195b25f-e594-4b5c-b7f3-5f220127f613" parentID="1095" level="3" creatorID="0" sortOrder="1" createDate="2017-02-17T11:19:43" updateDate="2017-03-26T22:45:09" nodeName="ANDROID APP" urlName="android-app" path="-1,1089,1095,1097" isDoc="" nodeType="1086" creatorName="Jelnalou Niones" writerName="Jelnalou Niones" writerID="0" template="1085" nodeTypeAlias="projectItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectTitle><![CDATA[Android App for the elders]]></projectTitle>
        <projectDescription><![CDATA[<p> </p>
<p> </p>
<p> </p>
<p style="font-size: 15px; color: white;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla interdum mauris sed tortor pretium, a dignissim dolor tempus. Nullam ut mi malesuada, facilisis quam finibus, elementum tortor. Morbi gravida est tempor elit aliquet aliquam. Suspendisse efficitur elit nisi. Morbi id nisi ac nibh pretium tempus tincidunt vitae leo. Suspendisse vitae luctus ante. Donec aliquam congue commodo. Aliquam ut felis nulla. Ut suscipit eleifend dignissim. Vestibulum tincidunt vel quam non dignissim.</p>
<p style="font-size: 15px; color: white;">Quisque magna est, lobortis sit amet pulvinar vel, imperdiet non ipsum. Aenean eget mi sem. Praesent sed ante metus. Aliquam volutpat egestas orci, faucibus interdum velit viverra in. Cras cursus diam quis augue hendrerit egestas sed non lorem. Donec non metus luctus, commodo nulla luctus, scelerisque lorem. Aliquam ullamcorper dolor eget ex condimentum, ac fringilla sem viverra. Vestibulum lobortis ligula risus, quis tempus turpis gravida non. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam justo ipsum, auctor ut euismod efficitur, viverra nec sapien. Sed rhoncus pharetra elementum. Mauris ut laoreet nunc. Aenean eget sodales ante. Nunc consectetur arcu ut elementum viverra. Ut sit amet tortor non nunc tempor finibus. Fusce ac urna mauris.</p>]]></projectDescription>
        <projectStatus>30</projectStatus>
      </projectItem>
      <projectItem id="1098" key="9984f3bd-ffbc-412a-84cc-c5676a371173" parentID="1095" level="3" creatorID="0" sortOrder="2" createDate="2017-02-17T11:20:05" updateDate="2017-03-26T22:45:23" nodeName="TUTORIAL WEBSITES" urlName="tutorial-websites" path="-1,1089,1095,1098" isDoc="" nodeType="1086" creatorName="Jelnalou Niones" writerName="Jelnalou Niones" writerID="0" template="1085" nodeTypeAlias="projectItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectTitle><![CDATA[Website for IT tutorials]]></projectTitle>
        <projectDescription><![CDATA[<p> </p>
<p> </p>
<p> </p>
<p style="font-size: 15px; color: white;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla interdum mauris sed tortor pretium, a dignissim dolor tempus. Nullam ut mi malesuada, facilisis quam finibus, elementum tortor. Morbi gravida est tempor elit aliquet aliquam. Suspendisse efficitur elit nisi. Morbi id nisi ac nibh pretium tempus tincidunt vitae leo. Suspendisse vitae luctus ante. Donec aliquam congue commodo. Aliquam ut felis nulla. Ut suscipit eleifend dignissim. Vestibulum tincidunt vel quam non dignissim.</p>
<p style="font-size: 15px; color: white;">Quisque magna est, lobortis sit amet pulvinar vel, imperdiet non ipsum. Aenean eget mi sem. Praesent sed ante metus. Aliquam volutpat egestas orci, faucibus interdum velit viverra in. Cras cursus diam quis augue hendrerit egestas sed non lorem. Donec non metus luctus, commodo nulla luctus, scelerisque lorem. Aliquam ullamcorper dolor eget ex condimentum, ac fringilla sem viverra. Vestibulum lobortis ligula risus, quis tempus turpis gravida non. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam justo ipsum, auctor ut euismod efficitur, viverra nec sapien. Sed rhoncus pharetra elementum. Mauris ut laoreet nunc. Aenean eget sodales ante. Nunc consectetur arcu ut elementum viverra. Ut sit amet tortor non nunc tempor finibus. Fusce ac urna mauris.</p>]]></projectDescription>
        <projectStatus>28</projectStatus>
      </projectItem>
      <projectItem id="1103" key="34f1224a-7ae1-4f4d-b586-5f9cd6f86415" parentID="1095" level="3" creatorID="0" sortOrder="3" createDate="2017-03-23T12:34:40" updateDate="2017-03-26T22:45:39" nodeName="CODE CONVERTER" urlName="code-converter" path="-1,1089,1095,1103" isDoc="" nodeType="1086" creatorName="Jelnalou Niones" writerName="Jelnalou Niones" writerID="0" template="1085" nodeTypeAlias="projectItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectTitle><![CDATA[Code converter]]></projectTitle>
        <projectDescription><![CDATA[<p> </p>
<p> </p>
<p> </p>
<p style="font-size: 15px; color: white;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla interdum mauris sed tortor pretium, a dignissim dolor tempus. Nullam ut mi malesuada, facilisis quam finibus, elementum tortor. Morbi gravida est tempor elit aliquet aliquam. Suspendisse efficitur elit nisi. Morbi id nisi ac nibh pretium tempus tincidunt vitae leo. Suspendisse vitae luctus ante. Donec aliquam congue commodo. Aliquam ut felis nulla. Ut suscipit eleifend dignissim. Vestibulum tincidunt vel quam non dignissim.</p>
<p style="font-size: 15px; color: white;">Quisque magna est, lobortis sit amet pulvinar vel, imperdiet non ipsum. Aenean eget mi sem. Praesent sed ante metus. Aliquam volutpat egestas orci, faucibus interdum velit viverra in. Cras cursus diam quis augue hendrerit egestas sed non lorem. Donec non metus luctus, commodo nulla luctus, scelerisque lorem. Aliquam ullamcorper dolor eget ex condimentum, ac fringilla sem viverra. Vestibulum lobortis ligula risus, quis tempus turpis gravida non. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam justo ipsum, auctor ut euismod efficitur, viverra nec sapien. Sed rhoncus pharetra elementum. Mauris ut laoreet nunc. Aenean eget sodales ante. Nunc consectetur arcu ut elementum viverra. Ut sit amet tortor non nunc tempor finibus. Fusce ac urna mauris.</p>]]></projectDescription>
        <projectStatus>30</projectStatus>
      </projectItem>
      <projectItem id="1135" key="4e6407d5-ad03-4395-833b-fc852c5d1461" parentID="1095" level="3" creatorID="0" sortOrder="4" createDate="2017-03-24T16:17:34" updateDate="2017-03-26T22:45:54" nodeName="INITIATED PROJECT" urlName="initiated-project" path="-1,1089,1095,1135" isDoc="" nodeType="1086" creatorName="Jelnalou Niones" writerName="Jelnalou Niones" writerID="0" template="1085" nodeTypeAlias="projectItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectTitle><![CDATA[Initiated Project]]></projectTitle>
        <projectDescription><![CDATA[<p> </p>
<p> </p>
<p> </p>
<p style="font-size: 15px; color: white;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla interdum mauris sed tortor pretium, a dignissim dolor tempus. Nullam ut mi malesuada, facilisis quam finibus, elementum tortor. Morbi gravida est tempor elit aliquet aliquam. Suspendisse efficitur elit nisi. Morbi id nisi ac nibh pretium tempus tincidunt vitae leo. Suspendisse vitae luctus ante. Donec aliquam congue commodo. Aliquam ut felis nulla. Ut suscipit eleifend dignissim. Vestibulum tincidunt vel quam non dignissim.</p>
<p style="font-size: 15px; color: white;">Quisque magna est, lobortis sit amet pulvinar vel, imperdiet non ipsum. Aenean eget mi sem. Praesent sed ante metus. Aliquam volutpat egestas orci, faucibus interdum velit viverra in. Cras cursus diam quis augue hendrerit egestas sed non lorem. Donec non metus luctus, commodo nulla luctus, scelerisque lorem. Aliquam ullamcorper dolor eget ex condimentum, ac fringilla sem viverra. Vestibulum lobortis ligula risus, quis tempus turpis gravida non. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam justo ipsum, auctor ut euismod efficitur, viverra nec sapien. Sed rhoncus pharetra elementum. Mauris ut laoreet nunc. Aenean eget sodales ante. Nunc consectetur arcu ut elementum viverra. Ut sit amet tortor non nunc tempor finibus. Fusce ac urna mauris.</p>]]></projectDescription>
        <projectStatus>28</projectStatus>
      </projectItem>
      <projectItem id="1136" key="548acd65-3bf9-4f2d-916f-011cc2aee81a" parentID="1095" level="3" creatorID="0" sortOrder="5" createDate="2017-03-24T18:24:36" updateDate="2017-03-26T22:46:04" nodeName="ANOTHER PROJECT" urlName="another-project" path="-1,1089,1095,1136" isDoc="" nodeType="1086" creatorName="Jelnalou Niones" writerName="Jelnalou Niones" writerID="0" template="1085" nodeTypeAlias="projectItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectTitle><![CDATA[Just another project]]></projectTitle>
        <projectDescription><![CDATA[<p> </p>
<p> </p>
<p> </p>
<p style="font-size: 15px; color: white;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla interdum mauris sed tortor pretium, a dignissim dolor tempus. Nullam ut mi malesuada, facilisis quam finibus, elementum tortor. Morbi gravida est tempor elit aliquet aliquam. Suspendisse efficitur elit nisi. Morbi id nisi ac nibh pretium tempus tincidunt vitae leo. Suspendisse vitae luctus ante. Donec aliquam congue commodo. Aliquam ut felis nulla. Ut suscipit eleifend dignissim. Vestibulum tincidunt vel quam non dignissim.</p>
<p style="font-size: 15px; color: white;">Quisque magna est, lobortis sit amet pulvinar vel, imperdiet non ipsum. Aenean eget mi sem. Praesent sed ante metus. Aliquam volutpat egestas orci, faucibus interdum velit viverra in. Cras cursus diam quis augue hendrerit egestas sed non lorem. Donec non metus luctus, commodo nulla luctus, scelerisque lorem. Aliquam ullamcorper dolor eget ex condimentum, ac fringilla sem viverra. Vestibulum lobortis ligula risus, quis tempus turpis gravida non. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam justo ipsum, auctor ut euismod efficitur, viverra nec sapien. Sed rhoncus pharetra elementum. Mauris ut laoreet nunc. Aenean eget sodales ante. Nunc consectetur arcu ut elementum viverra. Ut sit amet tortor non nunc tempor finibus. Fusce ac urna mauris.</p>]]></projectDescription>
        <projectStatus>30</projectStatus>
      </projectItem>
    </projectsOverview>
    <contactPage id="1123" key="469a4974-35e2-43dd-8a3c-65cf81dcbb10" parentID="1089" level="2" creatorID="0" sortOrder="2" createDate="2017-03-23T19:26:05" updateDate="2017-03-26T16:14:25" nodeName="CONTACT US" urlName="contact-us" path="-1,1089,1123" isDoc="" nodeType="1122" creatorName="Jelnalou Niones" writerName="Jelnalou Niones" writerID="0" template="1121" nodeTypeAlias="contactPage">
      <umbracoNaviHide>0</umbracoNaviHide>
    </contactPage>
    <textPage id="1138" key="66727622-186b-49d1-8f3a-cd159ad3fe91" parentID="1089" level="2" creatorID="0" sortOrder="3" createDate="2017-03-24T18:41:35" updateDate="2017-03-26T16:14:25" nodeName="Forbidden Access" urlName="forbidden-access" path="-1,1089,1138" isDoc="" nodeType="1069" creatorName="Jelnalou Niones" writerName="Jelnalou Niones" writerID="0" template="1068" nodeTypeAlias="textPage">
      <umbracoNaviHide>1</umbracoNaviHide>
    </textPage>
    <members id="1144" key="34559f28-e561-4b68-b3a4-7c25c4530147" parentID="1089" level="2" creatorID="0" sortOrder="4" createDate="2017-03-24T20:50:58" updateDate="2017-03-26T16:14:25" nodeName="MEMBERS" urlName="members" path="-1,1089,1144" isDoc="" nodeType="1143" creatorName="Jelnalou Niones" writerName="Jelnalou Niones" writerID="0" template="1142" nodeTypeAlias="members">
      <umbracoNaviHide>0</umbracoNaviHide>
    </members>
    <aboutUs id="1148" key="9a3404ee-f72a-48ac-85ae-8625ecb67459" parentID="1089" level="2" creatorID="0" sortOrder="5" createDate="2017-03-26T14:46:50" updateDate="2017-03-27T20:44:17" nodeName="ABOUT US" urlName="about-us" path="-1,1089,1148" isDoc="" nodeType="1147" creatorName="Jelnalou Niones" writerName="Jelnalou Niones" writerID="0" template="1146" nodeTypeAlias="aboutUs">
      <umbracoNaviHide>0</umbracoNaviHide>
      <gridLayout><![CDATA[{
  "name": "About Us",
  "sections": [
    {
      "grid": 12,
      "allowAll": false,
      "rows": [
        {
          "name": "Grid layout",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "headline"
              ],
              "config": {
                "class": "aboutusHeader"
              },
              "styles": {},
              "hasConfig": true,
              "controls": [
                {
                  "value": "ABOUT OUR COMMUNITY",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                },
                {
                  "value": null,
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                },
                {
                  "value": null,
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                },
                {
                  "value": null,
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                },
                {
                  "value": null,
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "media"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1152,
                    "image": "/media/1009/web-developer-at-work-feature_1290x688_ms.jpg"
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "allowAll": false,
              "allowed": [
                "rte"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p> </p>\n<p> </p>\n<p> </p>\n<h2>Vision</h2>\n<p style=\"font-size: 15px; color: white;\"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla interdum mauris sed tortor pretium, a dignissim dolor tempus. Nullam ut mi malesuada, facilisis quam finibus, elementum tortor. Morbi gravida est tempor elit aliquet aliquam. Suspendisse efficitur elit nisi. Morbi id nisi ac nibh pretium tempus tincidunt vitae leo. </span></p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ],
              "active": false
            },
            {
              "grid": 4,
              "allowAll": false,
              "allowed": [
                "rte"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p> </p>\n<p> </p>\n<p> </p>\n<h2>People</h2>\n<p style=\"font-size: 15px; color: white;\"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla interdum mauris sed tortor pretium, a dignissim dolor tempus. Nullam ut mi malesuada, facilisis quam finibus, elementum tortor. Morbi gravida est tempor elit aliquet aliquam. Suspendisse efficitur elit nisi. Morbi id nisi ac nibh pretium tempus tincidunt vitae leo.</span></p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ],
              "active": false
            },
            {
              "grid": 4,
              "allowAll": false,
              "allowed": [
                "rte"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p> </p>\n<p> </p>\n<p> </p>\n<h2>Skills</h2>\n<p style=\"font-size: 15px; color: white;\"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla interdum mauris sed tortor pretium, a dignissim dolor tempus. Nullam ut mi malesuada, facilisis quam finibus, elementum tortor. Morbi gravida est tempor elit aliquet aliquam. Suspendisse efficitur elit nisi. Morbi id nisi ac nibh pretium tempus tincidunt vitae leo.</span></p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ],
              "active": false
            }
          ],
          "label": "Grid layout",
          "hasConfig": false,
          "id": "8f516e3d-4a17-e6ca-fd11-99429e6c84e1",
          "active": false
        }
      ]
    }
  ]
}]]></gridLayout>
    </aboutUs>
    <login id="1134" key="632e44ec-98b0-4d5d-a25b-7e64c4d4d163" parentID="1089" level="2" creatorID="0" sortOrder="6" createDate="2017-03-23T22:37:27" updateDate="2017-03-26T16:14:25" nodeName="LOGIN" urlName="login" path="-1,1089,1134" isDoc="" nodeType="1133" creatorName="Jelnalou Niones" writerName="Jelnalou Niones" writerID="0" template="1132" nodeTypeAlias="login">
      <umbracoNaviHide>0</umbracoNaviHide>
    </login>
    <sitemap id="1155" key="317b8d51-d90b-48ab-ab82-f350a2d7c05b" parentID="1089" level="2" creatorID="0" sortOrder="7" createDate="2017-03-27T10:38:16" updateDate="2017-03-27T10:39:09" nodeName="Sitemap" urlName="sitemap" path="-1,1089,1155" isDoc="" nodeType="1154" creatorName="Jelnalou Niones" writerName="Jelnalou Niones" writerID="0" template="1153" nodeTypeAlias="sitemap">
      <umbracoNaviHide>1</umbracoNaviHide>
    </sitemap>
  </homePage>
</root>