
$facebookblue: #3b5998;
$darkbackground:#191919;
$light-gray: #C8C3B7;
$lighter-gray: #ACA89C;
$darker-gray: #8D816B;
$dark-gray: #464136;
$white: #F5F5EB;
$green: #68991B;
$darkred: #a94442;


body {
    background-color: $darkbackground;
    color: $darkred;
}


.body {
    min-height: calc(100vh - 128px);
    background: $darkbackground;
    //margin: auto;
    //width: 80%;
}



.center-text {
    text-align: center;

    .img-responsive {
        display: inline-block;
    }
}

.right-text {
    text-align: right;
}

.error, .validation-summary-errors {
    color: $darkred;
}

.btn.btn-primary {
    background-color:#428bca;
    color: $white;
    border-color: $dark-gray;

    &:hover, &:active, &:focus {
        outline: 0;
        background-color: $dark-gray;
        color: $white;
    }
}

.logged-in {
    margin-top: 80px;
}

//----------------Header---------------
header{
    //width: 110em; 
    //margin: auto;   
    
.navbar-default {
    background-color: $darkbackground;
    height: 100px;
    border: 0;

    .navbar-header{
        > a{
            color: $white;
            font-size:20px;
            font-weight:bold;
            margin-top:30px;
            &.current, &:hover {
                color:$darkred;
            }


        }
    }
    .navbar-nav {
        > li {
            &.current, &:hover {
                background-color: $darkred;

                > a {
                    color: $light-gray;
                }
            }

            > a {
                text-align: right;
                color: $white;
                font-size:12px;
                margin-top:30px;
            }
        }
    }
}

.navbar-collapse {
    padding-right: 0;
}

.dropdown-menu {
    min-width: 0px;
    background-color: $darkred;

    > li {
        > a {
            padding: 3px 10px;
            text-align: right;
            color: $light-gray;

            &:hover, &:active, &:focus {
                background-color: $dark-gray;
                color: $white;
            }
        }
    }
}
}


//------------Contact-Form--------------
.contact-form {
    margin-top: 40px;
    min-height: 310px;

    .form-horizontal .control-label {
        text-align: right;
        margin-bottom: 0;
        padding-top: 7px;
    }

    textarea {
        resize: none;
    }

    p {
        line-height: 310px;
    }
}


//-----------------Home------------------
.home {
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    ul {
        > li {
            > a {
                color: $lighter-gray;

                &:hover, &:active, &:focus {
                    color: $light-gray;
                }
            }
        }
    }
}


//--------News and Project Lists---------

.overview {
    a {
        color: $darkred;

        &:hover, &:active, &:focus {
            color: $lighter-gray;
        }
    }
}



//-----------------Project---------------
.project {
    img {
        display: block;
        width: 40%;
        margin: 0 auto 10px auto;
    }

    span.Completed {
        color: $green;
    }

    span.Other {
        color: $lighter-gray;
    }
}

//------------------News-----------------
.news {
       
    
}

//----------------About Us---------------
.about-us {
    img {
        display: block;
        margin: 0 auto 10px auto;
    }

    
}

