<!DOCTYPE root[<!ELEMENT message ANY>
<!ATTLIST message id ID #REQUIRED>
<!ELEMENT members ANY>
<!ATTLIST members id ID #REQUIRED>
<!ELEMENT login ANY>
<!ATTLIST login id ID #REQUIRED>
<!ELEMENT contactPage ANY>
<!ATTLIST contactPage id ID #REQUIRED>
<!ELEMENT master ANY>
<!ATTLIST master id ID #REQUIRED>
<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
<!ELEMENT textPage ANY>
<!ATTLIST textPage id ID #REQUIRED>
<!ELEMENT articlesOverview ANY>
<!ATTLIST articlesOverview id ID #REQUIRED>
<!ELEMENT articleItem ANY>
<!ATTLIST articleItem id ID #REQUIRED>
<!ELEMENT projectsOverview ANY>
<!ATTLIST projectsOverview id ID #REQUIRED>
<!ELEMENT projectItem ANY>
<!ATTLIST projectItem id ID #REQUIRED>
]>
<root id="-1">
  <homePage id="1089" key="cc348785-cffc-4212-9631-1d2fe332a1dd" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-02-16T20:18:11" updateDate="2017-03-25T23:10:11" nodeName="Home" urlName="home" path="-1,1089" isDoc="" nodeType="1054" creatorName="Jelnalou Niones" writerName="Jelnalou Niones" writerID="0" template="1100" nodeTypeAlias="homePage">
    <umbracoNaviHide>0</umbracoNaviHide>
    <siteTitle><![CDATA[Welcome]]></siteTitle>
    <mainContent><![CDATA[<p>Test</p>
<p>Here:</p>
<?UMBRACO_MACRO macroAlias="three_newest_project" />]]></mainContent>
    <articlesOverview id="1091" key="1e89bf6d-a10b-4dc2-8ff3-3941278e38b5" parentID="1089" level="2" creatorID="0" sortOrder="0" createDate="2017-02-17T10:21:08" updateDate="2017-02-17T11:13:42" nodeName="News" urlName="news" path="-1,1089,1091" isDoc="" nodeType="1073" creatorName="Jelnalou Niones" writerName="Jelnalou Niones" writerID="0" template="1072" nodeTypeAlias="articlesOverview">
      <umbracoNaviHide>0</umbracoNaviHide>
      <articlesBodyText><![CDATA[<p>To create RWD, you have to...</p>]]></articlesBodyText>
      <articlesTitle><![CDATA[News #1: How to create RWD]]></articlesTitle>
      <articleItem id="1093" key="c06faaf7-c331-445d-a438-dfff0a25f6e1" parentID="1091" level="3" creatorID="0" sortOrder="0" createDate="2017-02-17T11:09:58" updateDate="2017-02-17T11:10:23" nodeName="Article 1" urlName="article-1" path="-1,1089,1091,1093" isDoc="" nodeType="1077" creatorName="Jelnalou Niones" writerName="Jelnalou Niones" writerID="0" template="1076" nodeTypeAlias="articleItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <articleTitle><![CDATA[News " 1 jkwjek]]></articleTitle>
        <articleContent><![CDATA[<p>efer</p>]]></articleContent>
      </articleItem>
      <articleItem id="1092" key="d5c06c6f-1e87-41b8-8f16-e40ced267ef6" parentID="1091" level="3" creatorID="0" sortOrder="1" createDate="2017-02-17T11:09:14" updateDate="2017-02-17T11:10:23" nodeName="Article2" urlName="article2" path="-1,1089,1091,1092" isDoc="" nodeType="1077" creatorName="Jelnalou Niones" writerName="Jelnalou Niones" writerID="0" template="1076" nodeTypeAlias="articleItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <articleTitle><![CDATA[News 2: Hhjwjhejw]]></articleTitle>
        <articleContent><![CDATA[<p>eeerrer</p>]]></articleContent>
      </articleItem>
      <articleItem id="1094" key="91b11556-d659-4d5d-99f0-663a64c84577" parentID="1091" level="3" creatorID="0" sortOrder="2" createDate="2017-02-17T11:16:34" updateDate="2017-02-17T11:16:34" nodeName="Article 3" urlName="article-3" path="-1,1089,1091,1094" isDoc="" nodeType="1077" creatorName="Jelnalou Niones" writerName="Jelnalou Niones" writerID="0" template="1076" nodeTypeAlias="articleItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <articleTitle><![CDATA[News 3: Hjehrjer]]></articleTitle>
        <articleContent><![CDATA[<p>hjerhejre</p>]]></articleContent>
      </articleItem>
    </articlesOverview>
    <projectsOverview id="1095" key="e4a34475-2531-45fb-839d-176bac756a0e" parentID="1089" level="2" creatorID="0" sortOrder="2" createDate="2017-02-17T11:17:40" updateDate="2017-02-24T10:18:30" nodeName="Projects" urlName="projects" path="-1,1089,1095" isDoc="" nodeType="1081" creatorName="Jelnalou Niones" writerName="Jelnalou Niones" writerID="0" template="1080" nodeTypeAlias="projectsOverview">
      <umbracoNaviHide>0</umbracoNaviHide>
      <projectsTitle><![CDATA[Our Projects]]></projectsTitle>
      <projectItem id="1096" key="5264c2e0-4457-4e69-a434-84edc095f8e3" parentID="1095" level="3" creatorID="0" sortOrder="0" createDate="2017-02-17T11:19:17" updateDate="2017-03-03T10:43:06" nodeName="Project 1" urlName="project-1" path="-1,1089,1095,1096" isDoc="" nodeType="1086" creatorName="Jelnalou Niones" writerName="Jelnalou Niones" writerID="0" template="1085" nodeTypeAlias="projectItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectTitle><![CDATA[Project 1: jwkewjhe]]></projectTitle>
        <projectDescription><![CDATA[<p>Hjehrjehre</p>]]></projectDescription>
        <projectStatus>30</projectStatus>
      </projectItem>
      <projectItem id="1097" key="3195b25f-e594-4b5c-b7f3-5f220127f613" parentID="1095" level="3" creatorID="0" sortOrder="1" createDate="2017-02-17T11:19:43" updateDate="2017-03-03T10:42:55" nodeName="Project 2" urlName="project-2" path="-1,1089,1095,1097" isDoc="" nodeType="1086" creatorName="Jelnalou Niones" writerName="Jelnalou Niones" writerID="0" template="1085" nodeTypeAlias="projectItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectTitle><![CDATA[Project 2: jerhjer]]></projectTitle>
        <projectDescription><![CDATA[<p>ererere</p>]]></projectDescription>
        <projectStatus>30</projectStatus>
      </projectItem>
      <projectItem id="1098" key="9984f3bd-ffbc-412a-84cc-c5676a371173" parentID="1095" level="3" creatorID="0" sortOrder="2" createDate="2017-02-17T11:20:05" updateDate="2017-03-23T16:44:18" nodeName="Project 3" urlName="project-3" path="-1,1089,1095,1098" isDoc="" nodeType="1086" creatorName="Jelnalou Niones" writerName="Jelnalou Niones" writerID="0" template="1085" nodeTypeAlias="projectItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectTitle><![CDATA[Project 3: jkwejwhew]]></projectTitle>
        <projectDescription><![CDATA[<p>hjehjrer</p>]]></projectDescription>
        <projectStatus>29</projectStatus>
      </projectItem>
      <projectItem id="1103" key="34f1224a-7ae1-4f4d-b586-5f9cd6f86415" parentID="1095" level="3" creatorID="0" sortOrder="3" createDate="2017-03-23T12:34:40" updateDate="2017-03-23T16:44:25" nodeName="Project 4" urlName="project-4" path="-1,1089,1095,1103" isDoc="" nodeType="1086" creatorName="Jelnalou Niones" writerName="Jelnalou Niones" writerID="0" template="1085" nodeTypeAlias="projectItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectTitle><![CDATA[Project 4: jeeiere]]></projectTitle>
        <projectDescription><![CDATA[<p>sdwewewew</p>]]></projectDescription>
        <projectStatus>30</projectStatus>
      </projectItem>
      <projectItem id="1135" key="4e6407d5-ad03-4395-833b-fc852c5d1461" parentID="1095" level="3" creatorID="0" sortOrder="4" createDate="2017-03-24T16:17:34" updateDate="2017-03-24T16:17:34" nodeName="Project 5" urlName="project-5" path="-1,1089,1095,1135" isDoc="" nodeType="1086" creatorName="Jelnalou Niones" writerName="Jelnalou Niones" writerID="0" template="1085" nodeTypeAlias="projectItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectTitle><![CDATA[Project 5: jejrkere]]></projectTitle>
        <projectDescription><![CDATA[<p>gttht</p>]]></projectDescription>
        <projectStatus>28</projectStatus>
      </projectItem>
      <projectItem id="1136" key="548acd65-3bf9-4f2d-916f-011cc2aee81a" parentID="1095" level="3" creatorID="0" sortOrder="5" createDate="2017-03-24T18:24:36" updateDate="2017-03-24T18:24:36" nodeName="For active members only" urlName="for-active-members-only" path="-1,1089,1095,1136" isDoc="" nodeType="1086" creatorName="Jelnalou Niones" writerName="Jelnalou Niones" writerID="0" template="1085" nodeTypeAlias="projectItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectTitle><![CDATA[Project 6: Active members]]></projectTitle>
        <projectDescription><![CDATA[<p>sdwewe</p>]]></projectDescription>
        <projectStatus>28</projectStatus>
      </projectItem>
    </projectsOverview>
    <textPage id="1099" key="88df249c-c7fd-48e3-9b48-f128acf00fc5" parentID="1089" level="2" creatorID="0" sortOrder="3" createDate="2017-02-17T11:21:43" updateDate="2017-02-24T09:33:11" nodeName="About us" urlName="about-us" path="-1,1089,1099" isDoc="" nodeType="1069" creatorName="Jelnalou Niones" writerName="Jelnalou Niones" writerID="0" template="1068" nodeTypeAlias="textPage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <mainContent><![CDATA[<p>It is an organization hejrhejrhjerhje.....</p>]]></mainContent>
      <header><![CDATA[What is Aarhus WebDev Coop?]]></header>
      <gridLayout><![CDATA[{
  "name": "About Us",
  "sections": [
    {
      "grid": 12,
      "allowAll": false,
      "rows": [
        {
          "name": "Grid layout",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "headline"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "About this website!",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "media"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1087,
                    "image": "/media/1001/anomaly01.gif"
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "allowAll": false,
              "allowed": [
                "rte"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                },
                {
                  "value": "<p>This is what we do number 1</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "allowAll": false,
              "allowed": [
                "rte"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                },
                {
                  "value": "<p><span>This is what we do number 2</span></p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "allowAll": false,
              "allowed": [
                "rte"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                },
                {
                  "value": "<p><span>This is what we do number 3</span></p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            }
          ],
          "label": "Grid layout",
          "hasConfig": false,
          "id": "8ef62de7-8e02-94a3-2c66-290b698096b8"
        }
      ]
    }
  ]
}]]></gridLayout>
    </textPage>
    <contactPage id="1123" key="469a4974-35e2-43dd-8a3c-65cf81dcbb10" parentID="1089" level="2" creatorID="0" sortOrder="4" createDate="2017-03-23T19:26:05" updateDate="2017-03-23T19:26:05" nodeName="Contact Us" urlName="contact-us" path="-1,1089,1123" isDoc="" nodeType="1122" creatorName="Jelnalou Niones" writerName="Jelnalou Niones" writerID="0" template="1121" nodeTypeAlias="contactPage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <message id="1130" key="500c3de7-3274-4d87-b760-86d5541f85ec" parentID="1123" level="3" creatorID="0" sortOrder="0" createDate="2017-03-23T22:14:17" updateDate="2017-03-23T22:14:17" nodeName="testing the form" urlName="testing-the-form" path="-1,1089,1123,1130" isDoc="" nodeType="1129" creatorName="Jelnalou Niones" writerName="Jelnalou Niones" writerID="0" template="0" nodeTypeAlias="message" isDraft="">
        <messageName><![CDATA[Umbracoemailtest24]]></messageName>
        <email><![CDATA[umbracotest24@gmail.com]]></email>
        <subject><![CDATA[testing the form]]></subject>
        <messageContent><![CDATA[Just testing the form content.]]></messageContent>
      </message>
      <message id="1131" key="643dace4-b49c-4f3e-af3a-6801ce955287" parentID="1123" level="3" creatorID="0" sortOrder="1" createDate="2017-03-23T22:15:35" updateDate="2017-03-23T22:15:35" nodeName="Second test" urlName="second-test" path="-1,1089,1123,1131" isDoc="" nodeType="1129" creatorName="Jelnalou Niones" writerName="Jelnalou Niones" writerID="0" template="0" nodeTypeAlias="message" isDraft="">
        <messageName><![CDATA[Jelnalou Niones]]></messageName>
        <email><![CDATA[jelna24@gmail.com]]></email>
        <subject><![CDATA[Second test]]></subject>
        <messageContent><![CDATA[Testing the second time around]]></messageContent>
      </message>
    </contactPage>
    <login id="1134" key="632e44ec-98b0-4d5d-a25b-7e64c4d4d163" parentID="1089" level="2" creatorID="0" sortOrder="5" createDate="2017-03-23T22:37:27" updateDate="2017-03-23T22:37:27" nodeName="Login" urlName="login" path="-1,1089,1134" isDoc="" nodeType="1133" creatorName="Jelnalou Niones" writerName="Jelnalou Niones" writerID="0" template="1132" nodeTypeAlias="login">
      <umbracoNaviHide>0</umbracoNaviHide>
    </login>
    <textPage id="1138" key="66727622-186b-49d1-8f3a-cd159ad3fe91" parentID="1089" level="2" creatorID="0" sortOrder="6" createDate="2017-03-24T18:41:35" updateDate="2017-03-24T18:41:35" nodeName="Forbidden Access" urlName="forbidden-access" path="-1,1089,1138" isDoc="" nodeType="1069" creatorName="Jelnalou Niones" writerName="Jelnalou Niones" writerID="0" template="1068" nodeTypeAlias="textPage">
      <umbracoNaviHide>1</umbracoNaviHide>
      <gridLayout><![CDATA[{
  "name": "About Us",
  "sections": [
    {
      "grid": 12,
      "allowAll": false,
      "rows": [
        {
          "name": "Grid layout",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "headline"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": null,
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "media"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": null,
                  "editor": {
                    "alias": "media"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "allowAll": false,
              "allowed": [
                "rte"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "allowAll": false,
              "allowed": [
                "rte"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "allowAll": false,
              "allowed": [
                "rte"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p>For</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            }
          ],
          "label": "Grid layout",
          "hasConfig": false,
          "id": "5333598f-9fda-5971-924a-b98e24f094b5"
        }
      ]
    }
  ]
}]]></gridLayout>
    </textPage>
    <members id="1144" key="34559f28-e561-4b68-b3a4-7c25c4530147" parentID="1089" level="2" creatorID="0" sortOrder="8" createDate="2017-03-24T20:50:58" updateDate="2017-03-24T20:50:58" nodeName="Members" urlName="members" path="-1,1089,1144" isDoc="" nodeType="1143" creatorName="Jelnalou Niones" writerName="Jelnalou Niones" writerID="0" template="1142" nodeTypeAlias="members">
      <umbracoNaviHide>0</umbracoNaviHide>
    </members>
  </homePage>
</root>