@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ProjectsOverview>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}

<div class="overview">
    <div class="col-xs-12">
        <h1 class="center-text">@Umbraco.Field("projectsTitle")</h1>
    </div>
    <div class="col-xs-12">
        @Umbraco.Field("projectsBodyText")
    </div>
</div>