@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    var homePage = CurrentPage.AncestorsOrSelf(1).First();
}
<footer>
    <div class="col-xs-12">
        <h5 class="center-text">@homePage.footer</h5>
    </div>
</footer>